.combo-box .list-view .list-cell{
    -fx-cell-size: 25;
}

/*noinspection CssInvalidPseudoSelector*/
.table-row-cell:blocked .table-cell {
    -fx-text-fill: red;
}

/*noinspection CssInvalidPseudoSelector*/
.table-row-cell:blocked:selected .table-cell {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-border-color: transparent lightcoral transparent transparent;
}